body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
font-size: 100%;
background-color:  #C190F0;


}
hr{
  border: dotted #FFFDDE 6px;
  border-bottom: none;
  width:4%;
  margin: 100px auto;
}
a{
  font-family: 'Montserrat', sans-serif;

  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color:#FFFDDE ;
  font-size: 0.75rem;
  padding: 20px 0;
}
h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
color: #E60965 ;
font-size: 3rem;
font-weight: normal;
padding-bottom: 10px;

}
h3{
    font-family: 'Montserrat', sans-serif;
    color:  #750550;
font-size: 30px;
  }
  .top-container{
    background-color:#E7FBBE;
    border-color: black;
    position: relative;
    padding-top: 100px;

  }
  .middle-container{
    padding-bottom: 20px;

  }
  .bottom-container{
    background-color:#FFCBCB;
  padding: 50px 0 20px;
  }
.heading{
  font-size: 2rem;
}
.about{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 25px;

}
.contact-me{
  width:40%;
  margin: 40px auto 60px auto;
  text-align: center;
  line-height: 1.6;
  font-size: 20px;
}


.top-cloud{
  position:absolute;
  right:300px;
  top:50px;
}
.bottom-cloud{
  position: absolute;
  left:300px;
  bottom:300px;
}
.sun{
  position: absolute;
  left:100px;
  top:50px;
}
.c{
width: 25%;
float: left;
margin-right: 30px;
}
.cpp{
  width: 25%;
  float: right;
  margin-left: 30px;

}
.html{
  width: 25%;
  float: left;
  margin-right: 30px;

}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.6;
}
.profile{
  width:50%;
  margin: 100px auto 100px auto;
  text-align:center;
  line-height: 1.6;

}
.tanya{
  width: 25%;
  border-radius: 100%;
}

.btn {
  background: #FFCBCB;
  background-image: -webkit-linear-gradient(top, #FFCBCB, #D9D7F1);
  background-image: -moz-linear-gradient(top, #FFCBCB, #D9D7F1);
  background-image: -ms-linear-gradient(top, #FFCBCB, #D9D7F1);
  background-image: -o-linear-gradient(top, #FFCBCB, #D9D7F1);
  background-image: linear-gradient(to bottom, #FFCBCB, #D9D7F1);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 9px 21px 15px 19px;
  text-decoration: none;
}

.btn:hover {
  background: #667ede;
  background-image: -webkit-linear-gradient(top, #667ede, #8666de);
  background-image: -moz-linear-gradient(top, #667ede, #8666de);
  background-image: -ms-linear-gradient(top, #667ede, #8666de);
  background-image: -o-linear-gradient(top, #667ede, #8666de);
  background-image: linear-gradient(to bottom, #667ede, #8666de);
  text-decoration: none;
}
